.outerDiv {
  width: 100%;
  display: flex;
  color: var(--gray);
}

.bdy {
  width: 80%;
  margin: auto;
}

.pageTtl {
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  margin: 2rem 0;
}

.box {
  width: 100%;
  margin: 3rem 0;
}

.ttl {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
}
