.outerDiv {
  width: 100%;
  height: auto;
  max-height: 200px;
  padding: 1rem;
}

.outerDiv:hover {
  background-color: var(--lighish-white);
}

.innerDiv {
  display: flex;
  flex-direction: column;
}

.pc1 {
  display: flex;
  gap: 1rem;
}

.profileIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.ttl {
  font-size: 1.1rem;
  font-weight: 700;
}

.cnt {
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.cred {
  font-size: 0.8rem;
  display: flex;
  gap: 0.5rem;
  color: var(--purple);
}

.credTxt::after {
  font-size: 800;
  content: " ·";
}

.credTxt:last-child::after {
  content: "";
}

.date {
  color: var(--gray);
}

.date span {
  margin-left: 0.5rem;
}
