.outerDiv {
  width: 100%;
  height: 100%;
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox {
  width: 330px;
  height: auto;
  margin: auto;
}

.ttl {
  font-size: 1.2rem;
  font-weight: 700;
}

.boxBdy {
  padding: 0.5rem;
}

hr {
  border: none;
  border-bottom: 1px solid var(--gray86);
  margin: 1rem 0;
}

.oauth {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0.7rem 0;
  padding: 0.5rem;
  border: 1px solid var(--gray86);
  box-shadow: 0 2px 2px 0 rgb(28 29 31 / 24%), 0 0 2px 0 rgb(28 29 31 / 12%);
  cursor: pointer;
}

.blck {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blck a {
  color: var(--purple);
  text-decoration: none;
}

.blckTxt {
  margin: 0 0.5rem;
}
