.outerDiv {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gray);
}

.txt {
  font-size: 2rem;
  font-weight: 700;
  margin: 3rem 0;
}

.boxes {
  display: flex;
  gap: 1rem;
}
