.outerDiv {
  width: 100%;
  height: 100%;
}

.topBAR {
  display: flex;
  justify-content: flex-end;
}

.courses {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.searchBar {
  height: auto;
  width: 200px;
}
