.inptBox {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.inpt {
  width: 5%;
}

.label {
  width: 85%;
  text-align: left;
  font-size: 1rem;
}
