.outerDiv {
  width: 100%;
  max-height: 53px;
  padding: 1rem;
  color: var(--gray);
  background-color: var(--white);
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  z-index: 1;
  position: relative;
}

.innerDiv {
  overflow-y: scroll;
  display: flex;
}

.innerDiv::-webkit-scrollbar {
  display: none;
}

.cats,
.subs {
  padding-right: 100px;
  display: flex;
}

.iconBox {
  height: 30px;
  width: 100px;
  font-size: 0.9rem;
  font-weight: 700;
  position: absolute;
  right: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.icon {
  width: 10px;
  height: 10px;
  margin: 0 0.2rem;
  transform: rotate(-90deg);
}

.category,
.subCategory {
  width: max-content;
  margin: 0 0.5rem;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
}

.category:hover {
  color: var(--indigo);
}
.subCategory:hover {
  color: var(--indigo200);
}

.category:hover::after {
  display: flex;
  justify-content: center;
  content: "▲";
  color: var(--gray);
  z-index: 100;
}

.subCat {
  width: 100%;
  display: none;
  position: absolute;
  top: 55px;
  left: 0;
  padding: 0.5rem;
  font-size: 0.9rem;
  overflow-y: scroll;
  color: var(--white);
  background-color: black;
}

.subCat::-webkit-scrollbar {
  display: none;
}

.dvis {
  display: flex;
}
