.btn {
  width: max-content;
  margin: 0.3rem;
  padding: 0.4rem;
  border: 1px solid var(--gray);
  cursor: pointer;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.txtBox {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.txt {
  margin: 0 0.3rem;
}

.btnImg {
  width: 80%;
  height: 90%;
}
