.outerDiv {
  width: 100%;
  margin: 1rem 0;
}

.topBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.filters {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.searchBar {
  width: max-content;
}

@media screen and (max-width: 768px) {
  .topBar {
    flex-wrap: wrap;
  }
  .searchBar {
    width: 100%;
  }
}

@media screen and (max-width: 426px) {
  .filters {
    flex-direction: column;
    gap: 0.5rem;
  }
}
