* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "SF Pro Text", "BlinkMacSystemFont", "Roboto", "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  scroll-behavior: smooth;
}

:root {
  --black: #000;
  --blackBg: #1f1e1f;
  --white: #fff;
  --lighish-white: #f7f9fa;

  --gray: #1c1d1f;
  --light-gray: #6a6f73;
  --light-gray2: #242528;
  --light-gray3: #3e4143;
  --gray86: #d1d7dc;
  --gray100: #f0f2f4;
  --gray-wild-sand: #f3f3f3;
  --gray-alto: #d9d9d9;
  --gray-silver: #b7b7b7;
  --gray-silver-chalice: #999999;
  --gray-mine-shaft: #434343;

  --purple: #a435f0;
  --purple-dark: #8710d8;

  --teal: #72d8ba;
  --dark-teal: #199fa3;
  --dark-teal2: #1e6055;
  --teal-green-light: #6ac1d0;
  --teal-green-lighter: #c3e6ec;

  --yellow: #e9e729;
  --blue: #5022c3;

  --red: #f4522d;
  --red1: #b32d0f;

  --indigo: #5624d0;
  --indigo200: #b7a9e5;
  --indigolight: #cec0fc;

  --blackish2: rgb(51, 51, 51);

  --yellowish-green: #eceb98;
  --yellowish-green-dark: #3d3c0a;

  --glodish1: #b4690e;
  --glodish2: #e59819;

  --crimson: crimson;

  --light-orangish: #f3ca8c;

  --transparent: transparent;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.slick-arrow::after {
  display: none;
}
.slick-arrow::before {
  display: none;
}
