.outerDiv {
  width: 100%;
}

.innerDiv {
  width: 90%;
  display: flex;
  gap: 2rem;
}

.box1,
.box2 {
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .innerDiv {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .innerDiv {
    display: block;
  }
  .box1,
  .box2 {
    width: 100%;
  }
}
